body {
  background-color: #121212;
  margin: 10px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
             'Helvetica Neue', Arial, sans-serif;
}

*{
  outline: none;
  transition: all 0.3s;
  white-space: nowrap;
}

.header-con {
  display: grid;
  grid-template-columns: 1.25fr 1fr 1.25fr;
  padding-bottom: 5px;
  position: fixed;
  left: 10px;
  right: 15px;
  top: 10px;
}

.middle-con {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 10px;
}

.search-con {
  position: relative;
  height: 50px;
}

.sg, .slash, .browse {
  position: absolute;
}

.search-con, .home-con {
  display: inline;
}

.home-con {
  position: relative;
  height: 50px;
}

.home-label {
  position: absolute;
  color: whitesmoke;
  background-color: #393939;
  padding: 7px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -90%;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.home {
  background-color: #212121;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-con:hover .home-label {
  opacity: 1;
  transition: all 0.3s ease 0.35s;
}

.home:hover {
  background-color: #393939;
}

.search-bar {
  width: 78.5%;
  height: 50px;
  border-radius: 40px;
  background-color: #212121;
  border: none;
  padding: 0 55px;
  color: whitesmoke;
  font-size: 17px;
}

.search-bar:hover {
  background-color: #393939;
  box-shadow: 0 0 0 1px #535353;
}

.search-bar:focus {
  box-shadow: 0 0 0 2px whitesmoke;
  background-color: #393939;
}

.search-bar::placeholder {
  color: #B3B3B3;
  font-size: 17px;
}

.sg {
  left: 0px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.tool {
  background-color: white;
}

.sg-label, .browse-label {
  color: whitesmoke;
  bottom: -65%;
  pointer-events: none;
  background-color: #393939;
  padding: 7px;
  border-radius: 5px;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
}

.sg-label {
  bottom: -90% !important;
}

.sg-con:hover .sg-label {
  opacity: 1;
  transition: 0.3s ease 0.35s;
}

.sg-label {
  left: 10px;
  transform: translateX(-25%);
}

.browse-con:hover .browse-label {
  opacity: 1;
  transition: 0.3s ease 0.35s;
}

.browse-label {
  right: -9%;
  transform: translateX(-50%);
  bottom: -90%;
}

.slash {
  width: 1px;
  height: 50%;
  background-color: whitesmoke;
  right: 35px;
  top: 45%;
  transform: translateY(-50%);
  color: #b3b3b3;
}

.browse {
  right: 0%;
  top: 38%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

.browse:hover {
  fill: whitesmoke;
  stroke: whitesmoke;
}

.right-con {
  display: flex;
  justify-content: flex-end;
}

.con {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.noti-con, .friend-con {
  position: relative;
}

.noti, .friend {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.noti-label, .friend-label {
  color: whitesmoke;
  white-space: nowrap;
  position: absolute;
  background-color: #393939;
  padding: 7px;
  border-radius: 5px;
  pointer-events: none;
  bottom: -66px;
  opacity: 0;
}

.noti-label {
  left: 30%;
  transform: translateX(-50%);
}

.friend-label {
  right: 65%;
  transform: translateX(50%);
}

.noti-con:hover .noti-label, .friend-con:hover .friend-label {
  opacity: 1;
  transition: 0.3s ease 0.35s;
}

.profile {
  position: relative;
}

.name {
  color: whitesmoke;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #393939;
  bottom: -37px;
  padding: 7px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
}

img {
  cursor: pointer;
}

.profile:hover .name {
  opacity: 1;
  transition: 0.3s ease 0.35s;
}

.library {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  background-color: #212121;
  border-radius: 8px;
  padding: 20px 5px;
  position: fixed;
  top: 72.5px;
  bottom: 10px;
  left: 10px;
}

.icon-con, .create-con {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-con {
  width: 30px;
}

.library-icon {
  cursor: pointer;
  display: flex;
}

.library-icon {
  color: #b3b3b3;
}

.library-icon:hover {
  color: whitesmoke;
}

.create {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: #B3B3B3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}

.create:hover {
  background-color: #535353;
  color: white;
}

.liked-song, .dj, .inoha, .fbn, .queen, .metallica {
  border-radius: 6px;
}

.img-con {
  margin-left: 1.5%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.library span {
  color: whitesmoke;
  position: absolute;
  border-radius: 5px;
  padding: 7px;
  background-color: #393939;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

.icon-label {
  right: -502%;
}

.create-label {
  right: -364%;
  top: 50% !important;
}

.icon-con:hover .icon-label, .create-con:hover .create-label {
  transition: 0.3s ease 0.35s;
  opacity: 1;
}

span {
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.playlist-con {
  position: relative;
}

.liked-songs-label, .inoha-label, .dj-label, .fbn-label, .queen-label, .metallica-label {
  background-color: #393939;
  border-radius: 5px;
  height: 50px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-54%);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.liked-songs-label {
  right: -269%;
}

.dj-label {
  right: -281%;
}

.inoha-label {
  right: -235%;
}

.fbn-label {
  right: -298%;
}

.queen-label {
  right: -217%;
}

.metallica-label {
  right: -275%;
}

.liked-songs-list:hover .liked-songs-label, .dj-list:hover .dj-label, .inoha-list:hover .inoha-label,
.fbn-list:hover .fbn-label, .queen-list:hover .queen-label, .metallica-list:hover .metallica-label {
  opacity: 1;
}

.playlist-con:hover {
  background-color: #494949;
}

.playlist-con {
  padding: 5px;
  border-radius: 10px;
  padding-bottom: 1px;
}

.pin, .description {
  display: inline;
  margin: 0;
}

.pin {
  transform: rotate(45deg);
  font-size: 14px;
}

.description {
  color: #B3B3B3;
  font-size: 14px;
}

.playlist-name {
  color: #1ED760;
  font-size: 15px;
  margin: 0;
}

.list-name {
  color: whitesmoke;
  margin: 0;
}

.sg, .browse, .noti, .friend {
  color: #B3B3B3;
}

.browse:hover, .noti:hover, .friend:hover {
  color: whitesmoke;
}

.search-con:hover .sg {
  color: whitesmoke;
}

.search-con:focus-within .sg {
  color: whitesmoke;
}

.main {
  position: fixed;
  top: 72.3px;
  bottom: 10px;
  left: 90px;
  right: 10px;
  display: grid;
  grid-template-columns: 2.25fr 0.75fr;
  z-index: -1;
  gap: 10px;
}

.main div {
  border-radius: 12px;
}

.music-list {
  height: 100%;
  width: 100%;
  border: none;
  background: linear-gradient(
    180deg,
    #313131 0%,
    #2e2e2e 10%,
    #272727 20%,
    #252525 30%,
    #232323 40%,
    #212121 50%
  );
  border-radius: 10px;
}

.song-info {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #393939;
  border: none;
}

.content {
  position: absolute;
  right: -700%;
  top: 120%;
  display: flex;
  flex-direction: column;
  background-color: #292929;
  border-radius: 10px;
  padding-left: 10px;
  z-index: 100;
  padding: 5px;
  display: none;
}

.box {
  display: grid;
  grid-template-columns: 50px 1fr;
  padding-left: 10px;
  border-radius: 8px;
}

.box:hover {
  background-color: #393939;
}

.box:hover .playlist, .box:hover .folder, .box:hover .twin-circle {
  color: #1ED760;
  scale: 1.05;
}

.box:hover .playlist {
  transform: rotate(5deg);
}

.box:hover .twin-circle {
  transform: rotate(-50deg);
}

.box:hover .folder {
  transform: rotate(5deg);
}

.box:active {
  background-color: #212121;
}

.last {
  margin-top: 15px;
}

.text-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 30px;
}

.content-icon {
  color: whitesmoke;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
}

.content-name {
  color: whitesmoke;
  font-weight: bold;
  margin: 0;
}

.content-description {
  color: #B3B3B3;
}

.twin-circle {
  transform: rotate(-45deg);
}

.spacer {
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #535353;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35%;
  z-index: 201;
  cursor: none;
}

.content, .box, .text-box, .text-box label {
  cursor: pointer;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}