body {
  background-color: #121212;
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
             'Helvetica Neue', Arial, sans-serif;
  display: flex;
  height: 98vh;
  align-items: center;
  justify-content: center;
}  

.img-con {
  display: flex;
  justify-content: center;
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 43px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 60px;
  display: inline-block;
}

input {
  width: 100%;
  height: 45px;
}

.email-con, .pass-con {
  display: flex;
  justify-content: center;
  position: relative;
}

.email-input, .pass-input {
  background-color: transparent;
  border: none;
  box-shadow: 0 0 0 1px grey;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
  color: whitesmoke;
  font-size: 17px;
  padding: 0 10px;
  transition: all 0.3s;
  margin-bottom: 40px;
}

.pass-input {
  margin-bottom: 15px;
}

.email-input:hover , .pass-input:hover {
  box-shadow: 0 0 0 1px whitesmoke; 
}

.email-input:focus , .pass-input:focus {
  box-shadow: 0 0 0 2px whitesmoke;
}

.email-label, .pass-label {
  position: absolute;
  color: whitesmoke;
  top: -30px;
  left: 0;
  font-weight: bold;
  font-size: 15px;
}

.pass-label {
  top: -30px;
}

.eye-open, .eye-closed {
  position: absolute;
  color: white;
  right: 15px;
  cursor: pointer;
  top: 36%;
  transform: translateY(-50%);
  animation: none;
  display: none;
}

.login-btn {
  width: 100%;
  height: 45px;
  background-color: #1ED760;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn:hover {
  filter: brightness(120%);
}

.login-btn:active {
  filter: brightness(80%);
}

.alt-label {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.con {
  position: relative;
  margin-bottom: 10px;
}

.label, .phone, .apple-label {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.apple-label {
  width: 17px;
}

.alt-login {
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px grey;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.alt-login:hover {
  box-shadow: 0 0 0 1px whitesmoke;
}

.alt-login:active {
  filter: brightness(50%);
}


.text {
  color: rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.sign-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s;
  outline: none;
}

.box {
  display: flex;
  justify-content: center;
}

.sign-btn:active {
  filter: brightness(50%);
}

.i-con {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 293px;
  background-color: #e63946;
  border-radius: 30px;
  height: 45px;
  bottom: 1%;
  display: none;
  animation: none;
}

.incorrect {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes move {
  0% {opacity: 0; bottom: 1%;}
  20%, 80% {opacity: 1; bottom: 4%;}
  100% {opacity: 0; bottom: 4%;}
}