* {
  transition: all 0.3s
} 

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
             'Helvetica Neue', Arial, sans-serif;
  transform: all 0.3s;
}

.top-section {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.sort {
  background-color: whitesmoke;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 7px 14px;
  margin: 3px;
  cursor: pointer;
  z-index: 100;
}

.all {
  color: #121212;
  background-color: whitesmoke;
}

.music, .podcasts {
  background-color: rgba(245, 245, 245, 0.1);
  color: whitesmoke;
}

.sort:hover {
  filter: brightness(150%);
}

.album-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.album {
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.1);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  gap: 15px;
}

.album img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.album svg {
  position: absolute;
  right: 2%;
}

.album:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.name {
  color: white;
  font-weight: bold;
}

.start-btn, .stop-btn {
  background-color: #1ED760;
  border-radius: 50%;
  height: 35px;
  width: 35px; 
  padding: 5px;
  cursor: pointer;
  display: flex;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
 
} 

.start-btn:hover, .stop-btn:hover {
  scale: 1.1;
}

.stop-btn {
  height: 45px;
  width: 45px;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative !important;
  z-index: 0;
}

.start-btn {
  z-index: 1;
}

.stop-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

span {
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#gradient-layer div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.7s !important;
}

#gl1 {
  z-index: -7;
  background: linear-gradient(
    180deg,
    #351e66 0%, 
    #361f68 10%,  
    #2f1b5a 20%,  
    #231444 30%,   
    #212121 45%   
  );
}

#gl2 {
  z-index: -6;
  background: linear-gradient(
    180deg,
    #210c6b 0%,    
    #1f0b68 10%,  
    #1c0a5c 20%,  
    #13073f 30%,
    #212121 45%
  );
}

#gl3 {
  z-index: -5;
  background: linear-gradient(
    180deg,
    #616b59 0%,
    #5a6352 10%,  
    #484e41 20%,   
    #353a30 30%,
    #212112 45%
  );
}

#gl4 {
  z-index: -4;
  background: linear-gradient(
    180deg,
    #521e3e 0%,    
    #4d1d3a 10%,  
    #421932 20%,  
    #38152a 30%,
    #212121 45%
  );
}

#gl5 {
  z-index: -3;
  background: linear-gradient(
    180deg,
    #35837f 0%,    
    #295f5b 10%,  
    #27423e 20%,  
    #233b38 30%,
    #212121 45%
  );
}

#gl6 {
  z-index: -2;
  background: linear-gradient(
    180deg,
    #551b1b 0%,    
    #411616 10%,  
    #3b1414 20%,  
    #331111 30%,
    #212121 45%
  );
}

#bgl {
  z-index: -1;
  background: linear-gradient(
    180deg,
    #313131 0%,
    #2e2e2e 10%,
    #272727 20%,
    #252525 30%,
    #232323 40%,
    #212121 50%
  );
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}